@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import "react-responsive-carousel/lib/styles/carousel.min.css";
:root {
  --lightgreybrown: rgba(94, 80, 78, 1);
  --pearlypink: rgba(222, 189, 184, 0.5);
  --bordeauxbrown: rgba(85, 56, 50, 1);
  --browngrey: rgba(174, 148, 144, 1);
  --greypink: rgb(208, 179, 174);
  --yellowbeige: rgb(245, 245, 230);
  --algae: rgba(11, 103, 99, 0.7);
  --forestgreen: rgb(1, 30, 1);
  --opalgreen: rgb(117, 152, 135);
}

/*  ----- Viewport ----- elements inherited by all remaining elements ----- */
body {
  /* Can alternatively define in html {} or :root {} */
  background-image: url("./images/pawel-czerwinski-LAadii3dGQM-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  color: black;
  font-family: "Comfortaa", sans-serif;
  font-weight: bold;
  font-size: 90%;
  margin: 0 auto;
  padding: 2%;
  max-width: 90%;
  min-width: 20%;
}

.carousel img {
  width: 70% !important;
}
.icon {
  font-size: 130%;
  color: black;
  margin-right: 8px;
}

/*  ----- Page layout blocks -----  */
header {
  padding: 2%;
  background-color: rgba(235, 235, 227, 0.8);
  color: black;
  border-radius: 8px;
  margin-bottom: 2px;
}
h2 {
  font-size: 110%;
}
h3 {
  font-size: 90%;
}

main {
  display: flex;
  flex-direction: row;
  place-content: center;
}
/* div container for main */
.body-text-in-main {
  padding: 2%;
  background-color: white;
  border-radius: 8px;
  border: 2px solid rgba(235, 235, 227, 0.8);
  line-height: 2;
  text-align: left;
}
.img-div-main {
  display: flex;
  flex-direction: column;
  place-content: center;
  justify-content: space-around;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  text-align: center;
}
.icon-hover-main-transform:hover {
  transform: scale(1.3);
  transition: ease-in-out;
  transition-duration: 1s;
}
footer {
  padding: 6px;
  margin-top: 2px;
  background-color: var(--forestgreen);
  border-radius: 8px;
  color: white;
  margin-bottom: 8px;
}

ul {
  margin-bottom: 2%;
}

ul > li {
  margin-left: 4em;
  margin-bottom: 1%;
}
ul > li:first-child {
  margin-top: 1%;
}

li > li {
  margin-left: 4em;
}
button {
  font-family: "Comfortaa", sans-serif;
  background-color: black;
  color: white;
  padding: 12px;
  border-radius: 12px;
}

button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
  transition: ease-in-out;
  transition-duration: 0.5s;
}

/* Navigation */

nav {
  margin-top: 0;
  display: flex;
  flex-flow: wrap;
}
nav a {
  text-decoration: none;
  background-color: rgba(16, 57, 64, 0.5);
  color: black;
  padding: 1%;
  margin-top: 2px;
  border-radius: 8px;
  margin-right: 2px;
}

nav a:hover {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 1%;
  transition: ease-in-out;
  transform: scale(1.1);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

/*  ----- Table ----- */
table {
  flex-wrap: wrap;
  border-collapse: collapse;
  justify-content: center;
}
caption {
  border: 2px solid black;
  background-color: var(--yellowbeige);
  border-radius: 8px;
  margin-bottom: 2%;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

tr th {
  border: 2px solid black;
  background-color: rgb(16, 57, 64);
  padding: 12px;
  color: white;
}
th:nth-child(3),
td:nth-child(3) {
  text-align: right;
}

tr td {
  border: 1px solid black;
  color: black;
  padding: 16px;
  background-color: rgb(218, 218, 210);
}

.staffTable tr:nth-child(even) td {
  background-color: var(--yellowbeige);
}
th:nth-child(3),
td:nth-child(3) {
  text-align: left;
}

.vitaminTable tr td {
  background-color: var(--opalgreen);
}

.vitaminTable tr:nth-child(even) td {
  background-color: var(--pearlypink);
}

.center-table-div {
  display: flex;
  justify-content: center;
}

/*----- Form -----*/

form,
button,
input,
select,
textarea {
  font-family: "Comfortaa", sans-serif;
  display: flex;
  flex-wrap: wrap;
}

fieldset {
  border: 4px solid black;
  margin: 1%;
  padding: 2%;
  border-radius: 4px;
}

legend {
  background-color: rgb(16, 57, 64);
  border: 2px solid black;
  color: white;
  font-size: 120%;
  border-radius: 8px;
  padding: 1%;
}

input {
  padding: 8px;
  background-color: var(--yellowbeige);
  color: black;
  overflow-x: auto;
}

label {
  display: block;
  margin: 2% 0 2% 1%;
  font-size: 120%;
  color: black;
}

/* *:required {
  border: 4px solid green;
} */
th.required::before {
  content: " *";
  color: red;
}

:focus {
  background-color: var(--yellowbeige);
  color: black;
}

*::placeholder {
  color: rgb(96, 90, 90);
}

select {
  padding: 1%;
  font-size: 120%;
  background-color: var(--yellowbeige);
  margin-bottom: 4%;
  color: black;
}

option {
  padding: 0%;
  font-size: 120%;
  color: black;
  margin-bottom: 4%;
}

textarea {
  background-color: var(--yellowbeige);
  font-size: 120%;
}
@keyframes App-logo {
}

/*   ===== TABLET  media query overrides mobile styles ===== */
@media all and (min-width: 600px) {
}

/*   ===== DESKTOP  media query overrides mobile and tablet styles ===== */
@media all and (min-width: 1080px) {
}

/*   ===== PRINT  media query overrides previous styles ===== */
@media print {
}
